@font-face
  font-family: Katex
  src: url('../../lib/katex/KaTeX_Main-Regular.ttf'),
       url('../../lib/katex/KaTeX_Main-Regular.woff2') format('woff2'),
       url('../../lib/katex/KaTeX_Main-Regular.woff') format('woff'),
       url('../../lib/katex/KaTeX_Main-Regular.ttf') format('truetype')
  font-weight: normal

@import url('../../lib/katex/katex.min.css')
